body {
    font-family: Arial;
    padding: 20px;
    justify-items: center;
}

h1, h2, h3 {
    margin-bottom: 10px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 6px;
    width: 250px;
}

button {
    padding: 6px 12px;
    cursor: pointer;
}

table { 
    border-collapse: collapse;
    margin-top: 25px;
}

table, th, td {
    border: 2px solid #93a42a;
    padding: 8px;
}

/* Temas */
.tema-padrao {
    background: c;
    color: #15102a;
}

.tema-dark {
    background: #15102a;
    color: #dceff2;
}

.tema-colorido {
    background: #046d8b;
    color: #ecbe13;
}

.destacado {
    background: #309292 !important;
    font-weight: bold;
}